@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.neon-text {
  text-shadow: 
    0 0 10px #0a11f5,
    0 0 20px #0a11f5,
    0 0 30px #0a11f5,
    0 0 40px #0a11f5,
    0 0 70px #0a11f5,
    0 0 80px #0a11f5,
    0 0 100px #0a11f5,
    0 0 150px #0a11f5;
  animation: pulsate 2s infinite alternate;
}

.logo-neon {
  text-shadow: 
    0 0 2px #fff,
    0 0 4px #0a11f5,
    0 0 6px #0a11f5;
}

@keyframes pulsate {
  100% {
    text-shadow: 
      0 0 20px #0a11f5,
      0 0 35px #0a11f5,
      0 0 50px #0a11f5,
      0 0 65px #0a11f5,
      0 0 95px #0a11f5,
      0 0 125px #0a11f5,
      0 0 155px #0a11f5,
      0 0 185px #0a11f5;
  }
  0% {
    text-shadow: 
      0 0 10px #0a11f5,
      0 0 25px #0a11f5,
      0 0 40px #0a11f5,
      0 0 55px #0a11f5,
      0 0 85px #0a11f5,
      0 0 115px #0a11f5,
      0 0 145px #0a11f5,
      0 0 175px #0a11f5;
  }
}